* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --brand-color: #175EA8;
    --shape-trasparency:#ffffff96;
    --backgorund-color:#EFEFEF;
    --surface-color:#E8E8E8;
    --skeleton-color:#DCDCDC;
    --text-color-primary:#464545;
    --text-color-secondary:#1D1D1D;

    --font-family: "Roboto", serif;
    --logo-font:"Poppins", serif;
    --text-lg:bold 2rem/125% var(--font-family);
    --text:1rem/150% var(--font-family);
    --text-md:0.875rem/175% var(--font-family) ;
    --text-sm:0.75rem/175% var(--font-family);
}

body{
    color: var(--text-color-primary);
    background-color: var(--backgorund-color);
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: var(--brand-color);
    text-decoration: underline;
}

.container{
    padding-inline: 2rem;
    max-width: 80rem;
    margin-inline: auto;

}

.surface-color{
    background-color: var(--surface-color);
}